[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Hemslo Wang
	email = hemslo.wang@gmail.com
	signingkey = 1DFDF2BD8065B8D8
[commit]
	gpgsign = true
	template = ~/.gitmessage.txt
[tag]
	gpgSign = true
[core]
	excludesfile = ~/.gitignore_global
